# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea/*
!.idea/misc.xml
!.idea/modules.xml
!.idea/vcs.xml
*.iml
!ManzoAndroidPlugin.iml
out
gen